#product-title-container {
    display: flex;
    justify-content: center;
}

#product-title {
    font-size: 26px;
    display: inline-block;
    text-align: center;
    width: 71%;
}

.magnifier-link {
    font-size: 14px;
    color: #666666;
    font-weight: normal;
}

.slick-prev {
    left: -40px;
    [dir="rtl"] & {
        left: auto;
        right: -40px;
    }
    &:before {
        content: url('../../../images/icon-previous.png');
        [dir="rtl"] & {
            content: url('../../../images/icon-next.png');
        }
    }
}

.slick-next {
    right: -40px;
    [dir="rtl"] & {
        left: -40px;
        right: auto;
    }
    &:before {
        content: url('../../../images/icon-next.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../../../images/icon-previous.png'); // <<<<<<<<
        }
    }
}


.carousel-item {
    // margin-left:10px;
    // margin-right:10px;
    padding: 3px;
    border-radius:3px;
    border: 1px solid transparent;
}

.slick-active.slick-center .carousel-item {
    border: 1px solid #999999;
}

.overall-review-container {
    .overall-review-stars-container {
        display: flex;
        align-items: center;
        padding-left: 1.2rem;
    }
}

.product-ratings-overall-text {
    padding-left: 3px;
    font-size:14px;
    font-weight: bold;
}

.view-all-reviews-link {
    font-size:14px;
    font-weight: bold;
}

#product-pro-con-container {
    background-color: #f6f5f5;
    >[class^='col-'] {
        display: flex;
        align-content: stretch;
    }
    .card {
        border: none;
        background-color: transparent;

        .card-body {  
            padding: 1.2rem;
            padding-top:0.8rem; 
            padding-bottom:0.9rem; 
        }

        .card-title {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom:0.3rem;
        }
        .card-subtitle {
            font-size: 12px;
            color: #7f7e7e;
        }
        .card-header {
            padding-bottom: 0.4rem;
            padding-top: 0;
            border-bottom: 1px solid #cccccc;
            margin-bottom:0.5rem;
        }
        &.pro {
            .card-header {
                padding-left: 0;
                background-color: transparent;
                padding-right: 1.2rem;
            }
            .card-body {
                padding-right: 0;
            }
            .card-text {
                padding-right: 1.2rem;
            }
        }
        &.con {
            .card-header {
                background-color: transparent;
                padding-left: 1.2rem;
            }
            .card-body {
                padding-left: 0;
            }
            .card-text {
                padding-left: 1.2rem;
            }
        }

        .review-title {
            font-size: 16px;
            font-weight: bold;
        }

        .review-screen-name-link {
            font-weight:normal;
            color: #0066cc;
        }


    }
}

.product-price {
    font-size:30px;
    font-weight: bold;
}

.product-price-text {
    font-size:12px;
}

.product-promotions-container {
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding:15px 0;
}

.product-promotions-image {
    margin-right: 10px;
}

.product-promotions-text {
    font-size:18px;
    color: #cc0000;
}

.product-order-form-container {
    padding:25px 0;

    label {
        font-size:14px;
    }

    .btn {
        font-size:18px;
        text-transform: uppercase;
      }
}

.input-quantity-container  {
    border-radius:3px;
    border: 1px solid #d3d2d2;
    padding:3px 12px;
    width:100%;
    display:flex;
    justify-content: space-between;

    .btn-round {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    input#inputQuantity {
        font-weight: bold;
        font-size:18px;
        border: none;
        width: 30px;
        padding:0;
        text-align: center;
    }

    

}




.carousel-nav {
    width: 203px;
}

 .product-carousel-main-image {
    width: 400px;
}

.product-carousel-thumbnail {
    width: 61px;
}

.product-card {
    background-color: #f6f5f5;
}

.star-review-container {
    .icon-star {
        width: 14px;
    }
}