#product-title {
    text-align: center;
  }

  #product-carousel-container {
    
  }
  .carousel-for {
  }

  .carousel-nav {
    width: 203px;
  }

  .product-carousel-main-image {
    width:400px;
}

  .product-carousel-thumbnail {
      width:61px;
  }