@import 'app-colors';
@import 'app-variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  font: $theme-font;
  // background-color: $themeColor-Light;
  background-color: #fff;
}

h1, h2 {
  // color: $themeColor-Dark;
}

a {
  font-weight: bold;
}

.btn.btn-primary {
  background: rgba(239,118,118,1);
background: -moz-linear-gradient(top, rgba(239,118,118,1) 0%, rgba(204,2,2,1) 31%, rgba(204,2,2,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,118,118,1)), color-stop(31%, rgba(204,2,2,1)), color-stop(100%, rgba(204,2,2,1)));
background: -webkit-linear-gradient(top, rgba(239,118,118,1) 0%, rgba(204,2,2,1) 31%, rgba(204,2,2,1) 100%);
background: -o-linear-gradient(top, rgba(239,118,118,1) 0%, rgba(204,2,2,1) 31%, rgba(204,2,2,1) 100%);
background: -ms-linear-gradient(top, rgba(239,118,118,1) 0%, rgba(204,2,2,1) 31%, rgba(204,2,2,1) 100%);
background: linear-gradient(to bottom, rgba(239,118,118,1) 0%, rgba(204,2,2,1) 31%, rgba(204,2,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7676', endColorstr='#cc0202', GradientType=0 );
} 

.btn.btn-secondary {
  background: rgba(122,122,122,1);
  background: -moz-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,122,122,1)), color-stop(31%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(122,122,122,1) 0%, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#000000', GradientType=0 );
} 

main {
  padding: 1em;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}