@import 'app-colors';
@import 'app-variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  font: $theme-font;
  // background-color: $themeColor-Light;
  background-color: #fff;
}

h1, h2 {
  // color: $themeColor-Dark;
}

a {
  font-weight: bold;
}

main {
  padding: 1em;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}