@import 'app-colors';
@import 'app-variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  font: $theme-font;
  background-color: $themeColor-Light;
}

h1, h2 {
  color: $themeColor-Dark
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}